<%= provide(:title, 'Users')%>
<%= will_paginate %>

<div class="row">
  <aside class="col-md-12">
    <h1>Users List</h1>
    <ul>
      <% @users.each do |user| %>
        <%= render user  %>
      <% end %>
    </ul>
  </aside>
</div>

<%= will_paginate %>
