.user_link {
    list-style-type: none;
    display: block;
    /* height: 50px; */
    margin: 13px;
}
.user_link a {
  font-size:2.75rem;
  // float:right;
}
.user_link img {
  // display:block;
  float:none;
}
